.App {
  text-align: center;
}

p {
  line-height: 1rem;
}

ul {
  list-style-type: none;
  margin: 1rem 0 0 0;
  padding: 0;
}

label {
  margin: 0 1rem 0 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  background-color: lightsalmon;
  padding: 0 1.6rem 1.6rem 1.6rem;
  border-radius: 0.6rem;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-button {
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
}

.App-link {
  color: #61dafb;
}
