.App {
  text-align: center;
}

p {
  line-height: 1rem;
}

ul {
  list-style-type: none;
  margin: 1rem 0 0 0;
  padding: 0;
}

label {
  margin: 0 1rem 0 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.box {
  background-color:aliceblue;
  margin-top:2rem;
  padding:1rem;
  border-radius: 0.6rem;
  align-items: stretch;
  width: 85%;
  min-width: 85%
}

.input-form {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-button {
  width: 5rem;
  height: 3rem;
  border-radius: 0.8rem;
}

.App-link {
  color: #61dafb;
}

/* admin-table styles */

.admin-table {
  width:100%;
  height:100%;
  min-width:100%;
}
.admin-table th {
  text-align:center;
  font-size: 120%;
}




.table-dark {
  --bs-table-bg: rgb(8, 66, 152)!important;
  --bs-table-striped-bg: #69afe8!important;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #4caf50!important;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #ff5722!important;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #373b3e;  
}

.list .row {
 
  align-content: flex-start;
}
.svg-inline--fa {
  
  margin-left: 20%;
}