.App {
  text-align: center;
}

p {
  line-height: 1rem;
}

ul {
  list-style-type: none;
  margin: 1rem 0 0 0;
  padding: 0;
}

label {
  margin: 0 1rem 0 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box {
  background-color: lightsalmon;
  padding: 0 1.6rem 1.6rem 1.6rem;
  border-radius: 0.6rem;
  align-items: center;
}

.input-form {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-button {
  width: 5rem;
  height: 3rem;
  border-radius: 0.8rem;
}

.App-link {
  color: #61dafb;
}

/* admin-table styles */

.admin-table {
  min-width:80%;
}
.admin-table th {
  text-align:left;
  font-size: 120%;
}